body {
    background-color:white;
}

.w3-sidebar a 
{
    font-family: "Roboto", sans-serif
}
.div1 {
    margin-left:250px
}

body,h1,h2,h3,h4,h5,h6,.w3-wide {
    font-family: "Montserrat", sans-serif;
}